.carta-wrapper {
  color: white;
  background-size: 100%;
  background-repeat: repeat-y;
  overflow: hidden;
}

.carta-section-title {
  color: white;
  font-size: 2rem;
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
}

.lomitos-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
