.about {
  display: flex;
  padding-top: 2em;
}

.about-text {
  width: 100%;
}

.about-image {
  width: 100%;

  object-fit: contain;
}

.about h4 {
  text-transform: uppercase;
  color: #bfbdbd;
  font-size: 10px;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .about {
    display: block;
  }
}
