.carousel-resto {
  /* z-index: -2; */
}

.slide-image {
  object-fit: cover !important;
  height: 100% !important;
  width: 100%;
}

.carousel-resto .slide {
  height: 500px;
  position: relative;
}

.slide-text {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9rem;
  max-width: 1230px;
  top: 150px;
  text-align: left;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
}

.slide-text h1 {
  font-size: 3rem;
  line-height: 1.3em;
  color: white;
  max-width: 800px;
}

.slide-text h3 {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.carousel-resto a {
  color: unset;
  text-decoration: none;
  background: goldenrod;
  border-radius: 0;
  border: 0;
  color: #f9f9f9;
  font-size: inherit;
  font-weight: normal;
  padding: 10px 25px;
  transition: 0.5s 0.2s;
}

@media (max-width: 1100px) {
  .slide-text h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .slide-text h1 {
    font-size: 2rem;
  }
}

/* 




 */
