.contact {
  margin-top: 3rem;
  padding-bottom: 3em;
}

.contact-info {
  display: flex;
  gap: 5%;
}

.map-wrapper {
  width: 100%;
}
.map {
  border: none;
  width: 100%;
  height: 100%;
}

.contact-links {
  width: 100%;
}

.contact-title {
  margin-top: 0;
}

.social {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.social-item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 2em;

  transition: all ease-in-out 0.5s;
}
.social a {
  color: black;
  text-decoration: none;
  width: fit-content;
}

.social a:hover .social-item {
  background-color: goldenrod;
  text-decoration: none;
}

.social-item p {
  margin-left: 1em;
}

@media (max-width: 800px) {
  .contact-info {
    display: block;
  }
  .map-wrapper {
    height: 400px;
    margin-bottom: 3em;
  }
}
