.picada {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 1em;
  border: 2px solid gray;

  margin: 2em 1em;
}

.picada-wrapper:nth-of-type(2n) .picada {
  flex-direction: row-reverse;
}

.picada-text {
  width: 50%;
}

.picada-image {
  width: 50%;
  object-fit: contain;
}

.picada h3 {
  margin-top: 0px;

  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 1em;
  background-color: goldenrod;
  width: fit-content;
  text-align: center;
  transform: translateY(-30px);
  color: white;
}
.picada p {
  color: white;
}

@media (max-width: 800px) {
  .picada {
    display: block;
  }
  .picada-text {
    width: 100%;
  }

  .picada-image {
    width: 100%;
  }
}
